*{
    margin: 0;
}

body{
    background-color: #222831;
}

#topnavbar{
    text-align: center;
    background-color: #00ADB5;
    padding: 20px;
    font-size: 30px;
    color: #EEEEEE;
}

#inpContainer{
    padding: 30px;
    text-align: center;
}

#inpTask{
    background-color: #EEEEEE;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    width: 700px;
    height: 35px;
    font-size: 22px;
}

#addbtn, #clrbtn, #updatebtn{
    width: 210px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    
}

#taskContainer{
    margin: auto;
    margin-bottom: 20px;
    width: 640px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#emp{
    display: flex;
    justify-content: center;
}

#empty{
    width: 608px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px;
    background-color: green;
}

.checkbtn{
    width: 15px;
    height: 15px;
    opacity: 50%;
}

.task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    background-color: #393E46;
    padding: 10px;
    border: 1px solid black;
    margin: 1px 0 0 3px;
}

.task>div{
    margin-left: 1%;
    width: 80%;
    font-size: 18px;
}

.task>i{
    opacity: 50%;
    font-size: 18px;
    cursor: pointer;
}

.fa-trash-can{
    color: rgb(255, 36, 36);
}

#msg{
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 160px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    background-color: #00ADB5;
    color: #EEEEEE;
    font-weight: bold;
    opacity: 0;
}

@media screen and (max-width: 800px){
    #inpTask{
        width: 90%;
    }
    #taskContainer{
        width: 90%;
    }
    .fa-regular{
        margin: 0 1%;
    }
    #empty{
        width: 80%;
    }
}