* {
	margin: 0;
}

.center {
	position: absolute;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	backdrop-filter: blur(5px);
	filter: drop-shadow(3px 10px 15px rgb(0, 0, 0));
}

.screen {
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.center h1 {
	text-align: center;
	padding: 20px 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 3px;
}

.intro {
	border-radius: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

h3 {
	margin: 0.75rem;
}

#nitMM-text {
	font-size: 50px;
}

.btns {
	background-color: rgba(0, 0, 255, 0.295);
	display: flex;
	border-radius: 2%;
	width: fit-content;
}

.teacher,
.student,
.visitor,
.club {
	width: 100px;
	height: 50px;
	margin: 10px;
	border: 0px none;
	border-radius: 15px;
	cursor: pointer;
	font-size: 1.5rem;
	border-image-outset: 1ch;
}

.multi-button {
	filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
	display: flex;
	justify-content: center;
	background-color: transparent;
}

.multi-button button {
	height: 125px;
	width: 200px;
	background: linear-gradient(to bottom, #92cc2f, #3b3b3b);
	font-weight: bold;
	color: white;
	font-size: 1.9rem;
	border: none;
	margin: 4px;
	padding: 0;
	stroke: black;
	outline: none;
}

.multi-button :nth-child(1) {
	border-radius: 20px 0 0 20px;
}

.multi-button :nth-child(4) {
	border-radius: 0 20px 20px 0;
}

button:hover {
	cursor: pointer;
	filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}

button:active {
	filter: none;
	transform: scale(.95);
}

.fade-in {
	opacity: 0;
	animation-delay: 8.69s;
}

.fade-in {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.logo{
	width: 800px;
}