html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.mapcontainer {
	width: 100vw;
	height: 90vh;
	position: fixed;
	bottom: 0;
}

:root {
	--color-primary: #0073ff;
	--color-white: #e9e9e9;
	--color-black: #141d28;
	--color-black-1: #212b38;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.logo {
	color: var(--color-white);
	font-size: 30px;
}

.logo span {
	color: var(--color-primary);
}

.menu-bar ul {
	list-style: none;
	display: flex;
}

.menu-bar ul li {
	padding: 10px 30px;
	position: relative;
}

.menu-bar ul li a {
	font-size: 20px;
	color: var(--color-white);
	text-decoration: none;

	transition: all 0.3s;
}

.login {
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
}

.menu-bar ul li a:hover {
	color: var(--color-primary);
}

.fas {
	float: right;
	margin-left: 10px;
	padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
	display: none;
	overflow-y: scroll;
	height: 50vh;
}

.menu-bar ul li:hover .dropdown-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
	width: 150px;
	padding: 10px;
}

.dropdown-menu1 {
	display: none;
	/* height: 30vh; */
}

.dropdown-menu1 h4 {
	width: 190px;
	padding: 10px 40px;
}

.menu-bar ul li:hover .dropdown-menu1 {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu1 ul {
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu1 ul li {
	width: 150px;
	padding: 10px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e7e7e7;
	height: 100vh;
}



.box {
	text-align: center;
}

.overlay {
	justify-content: center;
	flex-direction: column;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 20%;
	right: 20%;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay1 {
	justify-content: center;
	flex-direction: column;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 20%;
	right: 20%;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay div {
	/* top: -2%; */
	/* display: flex; */
	/* justify-content: center; */
	/* flex-direction: column; */
	text-align: center;
}
.overlay1 div {
	/* top: -2%; */
	/* display: flex; */
	/* justify-content: center; */
	/* flex-direction: column; */
	text-align: center;
}
.list1 {
	color: white;
	height: 410px;
	overflow-y: scroll;
}

.list {
	color: white;
	height: 340px;
	overflow-y: scroll;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
.overlay1:target {
	visibility: visible;
	opacity: 1;
}

input.date {
	border-radius: 10px;
	height: auto;
	transition: all ease 400ms;
	box-shadow: 0px 0px 1px 1px Violet;
}

form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"] {
	background-color: #413b3b;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

* {
	margin: 0;
}

body {
	background-color: #222831;
}

#topnavbar {
	text-align: center;
	background-color: #00ADB5;
	padding: 20px;
	font-size: 30px;
	color: #EEEEEE;
}

#inpContainer {
	padding: 30px;
	text-align: center;
}

#inpTask, #inpmemTask {
	background-color: #EEEEEE;
	padding: 5px;
	border: 0;
	border-radius: 3px;
	width: 700px;
	height: 35px;
	font-size: 22px;
}

#addmembtn,
#addbtn,
#clrbtn,
#searchmembtn {
	width: 210px;
	height: 45px;
	font-size: 18px;
	cursor: pointer;

}

#taskContainer {
	margin: auto;
	margin-bottom: 20px;
	width: 640px;
	font-size: 20px;
	color: white;
	text-align: center;
}

#emp {
	display: flex;
	justify-content: center;
}

#empty {
	width: 608px;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 15px;
	background-color: green;
}

.checkbtn {
	width: 15px;
	height: 15px;
	opacity: 50%;
}

.task {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	background-color: #393E46;
	padding: 10px;
	border: 1px solid black;
	margin: 1px 0 0 3px;
}

.task>div {
	margin-left: 1%;
	width: 80%;
	font-size: 18px;
}

.task>i {
	opacity: 50%;
	font-size: 18px;
	cursor: pointer;
}

.fa-trash-can {
	color: rgb(255, 36, 36);
}

#msg {
	position: fixed;
	right: 30px;
	bottom: 50px;
	width: 160px;
	padding: 30px;
	text-align: center;
	font-size: 18px;
	background-color: #00ADB5;
	color: #EEEEEE;
	font-weight: bold;
	opacity: 0;
}

@media screen and (max-width: 800px) {
	#inpTask {
		width: 90%;
	}

	#taskContainer {
		width: 90%;
	}

	.fa-regular {
		margin: 0 1%;
	}

	#empty {
		width: 80%;
	}
}

#map {
	height: 100%;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.mapcontainer {
	width: 100vw;
	height: 90vh;
	position: fixed;
	bottom: 0;
}

:root {
	--color-primary: #0073ff;
	--color-white: #e9e9e9;
	--color-black: #141d28;
	--color-black-1: #212b38;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.logo {
	color: var(--color-white);
	font-size: 30px;
	cursor: pointer;
}

.logo span {
	color: var(--color-primary);
}

.menu-bar {
	background-color: var(--color-black);
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	position: fixed;
}

.menu-bar ul {
	list-style: none;
	display: flex;
}

.menu-bar ul li {
	padding: 10px 30px;
	position: relative;
}

.menu-bar ul li a {
	font-size: 20px;
	color: var(--color-white);
	text-decoration: none;

	transition: all 0.3s;
}

.menu-bar ul li a:hover {
	color: var(--color-primary);
}

.fas {
	float: right;
	margin-left: 10px;
	padding-top: 3px;
}

.useridblock {
	width: 15%;
	height: 100%;
	color: white;
	display: flex;
	text-align: right;
	justify-content: space-evenly;
	align-items: center;
}

.userdetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.useridblock img {
	height: 90%;
}

#logout {
	color: #0073ff;
	cursor: pointer;
}

.meeting{
	/* background-color: #0073ff; */
	width: 70%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 24px;
}

.meeting div{
	width: 25%;
}

.meeting img{
	width: 30px;
	cursor: pointer;
}